<!DOCTYPE html>
{% load static %}

<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    <!--- basic page needs
    ================================================== -->

    <meta charset="utf-8">
    <title>Oussama AHMED| Personal website</title>
    <meta name="" content="">
    <meta name="Oussama Ahmed" content="Personal website">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'blog/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/main.css' %}">

    <!-- script
    ================================================== -->
    <script src="{% static 'blog/js/modernizr.js' %}"></script>
    <script src="{% static 'blog/js/pace.min.js' %}"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="{% static 'blog/myLogo.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'blog/myLogo.png' %}" type="image/x-icon">

</head>

<body id="top">

    <!-- header
    ================================================== -->
    <header  class="s-header">

        <div class="header-logo">
            <a class="site-logo" href=""><img height="80%" width="80%" src="{% static 'blog/myLogo.png' %}" alt=""></a>
        </div>

        <nav class="header-nav-wrap">
            <ul class="header-nav">
                <li class="current"><a class="smoothscroll"  href="#home" title="home">Home</a></li>
                <li><a class="smoothscroll"  href="#about" title="about">About</a></li>
                <li><a class="smoothscroll"  href="#works" title="works">Works</a></li>
                <li><a class="smoothscroll"  href="#blog" title="blog">Blog</a></li>
                <li><a class="smoothscroll"  href="#contact" title="contact">Contact</a></li>
            </ul>
        </nav>

        <a class="header-menu-toggle" href="#"><span>Menu</span></a>

    </header> <!-- end s-header -->


   <!-- home
   ================================================== -->
   <section id="home" class="s-home page-hero target-section" data-parallax="scroll" data-image-src="{% static 'blog/images/hero-bg.jpg' %}" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

        <div class="overlay"></div>
        <div class="shadow-overlay"></div>

        <div class="home-content">

            <div class="row home-content__main">

                <h3>Hello There</h3>

                <h1>
                    I am Oussama Ahmed, <br>
                    an applied computer <br>
                    science engineering student.
                </h1>

                <div class="home-content__buttons">
                    <a href="#works" class="smoothscroll btn btn--stroke">
                        Latest Projects
                    </a>
{#                    <a href="#about" class="smoothscroll btn btn--stroke">#}
{#                        More About Me#}
{#                    </a>#}
                </div>

                <div class="home-content__scroll">
                    <a href="#about" class="scroll-link smoothscroll">
                        <span>Scroll Down</span>
                    </a>
                </div>

            </div>

        </div> <!-- end home-content -->

        <ul class="home-social">
            <li>
                <a href="https://www.facebook.com/oussaamaa"><i class="im im-facebook" aria-hidden="true"></i><span>Facebook</span></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/oussama-ahmed/"><i class="im im-linkedin" aria-hidden="true"></i><span>LinkedIn</span></a>
            </li>
            <li>
                <a href="#"><i class="im im-github" aria-hidden="true"></i><span>Github</span></a>
            </li>

        </ul> 
        <!-- end home-social -->

    </section> <!-- end s-home -->


    <!-- about
    ================================================== -->
    <section id="about" class="s-about target-section">
        
        <div class="row narrow section-intro has-bottom-sep">
            <div class="col-full text-center">
                <h3>About me</h3>
{#                <h1>More About Me</h1>#}
                <p class="lead">Currently, I am a student at National School of Engineers of Sousse(ENISo)<br>
                And  the mobile division manager at Orange Tech Club (OTCE) and i am a member of Allsafe cybersecurity Club.</p>

            </div>
        </div>

        <div class="row about-content">
        <h3>I've Got Some skills.!</h3>

            {% for s in skills %}


            <div class="col-six tab-full {% cycle 'left' 'right' %}">

                <ul class="skill-bars">
                    <li>
                    <div class="progress percent{{ s.niveau }}"><span>{{ s.niveau }}%</span></div>
                    <strong>{{ s.nom }}</strong>
                    </li>
                </ul>
            </div>


            {% endfor %}

        </div> <!-- end about-content -->

        <div class="row about-content about-content--buttons">

            <div class="col-six tab-full left">
                <a href="#" class="btn btn--primary full-width">Download My CV</a>
            </div>
            <div class="col-six tab-full right">
                <a href="#contact" class="btn full-width">Hire Me Now</a>
            </div>

        </div> <!-- end about-content buttons -->

        <div class="row about-content about-content--timeline">

            <div class="col-full text-center">
                <h3>My Education.</h3>
            </div>
            {% for ed in educations %}
            <div class="col-six tab-full {% cycle 'left' 'right' %}">
                <div class="timeline">

                    <div class="timeline__block">
                        <div class="timeline__bullet"></div>
                        <div class="timeline__header">
                            <p class="timeline__timeframe">{{ ed.dateDebut }} - {{ ed.dateFin }}</p>
                            <h3>{{ ed.nom }},  {{ ed.lieu }} </h3>
                            <h5>{{ ed.formation }}</h5>
                        </div>
                        <div class="timeline__desc">
                            <p>{{ ed.descriptionFormation }}.</p>
                        </div>
                    </div> <!-- end timeline__block -->


                </div> <!-- end timeline -->
            </div> <!-- end left/ right-->
            {% endfor %}
        </div> <!-- end left/ right-->
        <div class="row about-content about-content--timeline">

            <div class="col-full text-center">
                <h3>My achievments.</h3>
            </div>

            <div class="col-six tab-full {% cycle 'left' 'right' %}">
                <div class="timeline">

                    <div class="timeline__block">
                        <div class="timeline__bullet"></div>
                        <div class="timeline__header">
                            <p class="timeline__timeframe"> 21 June 2018</p>
                            <h3>Software development fundamentals </h3>
                            <h5>{{ ed.formation }}</h5>
                        </div>
                        <div class="timeline__desc">
                            <p>{{ ed.descriptionFormation }}.</p>
                        </div>
                    </div> <!-- end timeline__block -->


                </div> <!-- end timeline -->
            </div> <!-- end left/ right-->

            <div class="col-six tab-full {% cycle 'left' 'right' %}">
                <div class="timeline">

                    <div class="timeline__block">
                        <div class="timeline__bullet"></div>
                        <div class="timeline__header">
                            <p class="timeline__timeframe"> 4 July 2017</p>
                            <h3>degree in French language studies </h3>
                            <h5>B2</h5>
                        </div>
                        <div class="timeline__desc">
                            <p></p>
                        </div>
                    </div> <!-- end timeline__block -->


                </div> <!-- end timeline -->
            </div> <!-- end left/ right-->

            <div class="col-six tab-full {% cycle 'left' 'right' %}">
                <div class="timeline">

                    <div class="timeline__block">
                        <div class="timeline__bullet"></div>
                        <div class="timeline__header">
                            <p class="timeline__timeframe"> 21 May 2018</p>
                            <h3>Eniso IoT challenge </h3>
                            <h5>First prize.</h5>
                        </div>
                        <div class="timeline__desc">
                            <p></p>
                        </div>
                    </div> <!-- end timeline__block -->


                </div> <!-- end timeline -->
            </div> <!-- end left/ right-->

        </div> <!-- end left/ right-->
    <div class="row about-content about-content--timeline">

            <div class="col-full text-center">
                <h3>My work experience.</h3>
            </div>
            {% for w in works %}
            <div class="col-six tab-full {% cycle 'left' 'right' %}">
                <div class="timeline">

                    <div class="timeline__block">
                        <div class="timeline__bullet"></div>
                        <div class="timeline__header">
                            <p class="timeline__timeframe">{{ w.dateDebut }} - {{ w.dateFin }}</p>
                            <h3>{{ w.nom }},  {{ w.lieu }} </h3>
                            <h5>{{ w.role }}</h5>
                        </div>
                        <div class="timeline__desc">
                            <p>{{ w.descriptionFormation }}.</p>
                        </div>
                    </div> <!-- end timeline__block -->


                </div> <!-- end timeline -->
            </div> <!-- end left/ right-->
            {% endfor %}
        </div>
    </section>
    <!-- end about -->


    <!-- works
    ================================================== -->
    <section id="works" class="s-works target-section">

        <div class="row narrow section-intro has-bottom-sep">
            <div class="col-full">
                <h3>Portfolio</h3>
                <h1>See My Latest Projects.</h1>
                
                <p class="lead">You can find here examples of my projects and their code sources here.</p>
            </div>
        </div>

        <div class="row masonry-wrap">
            <div class="masonry">
            {% for p in projects %}
                <div class="masonry__brick">
                    <div class="item-folio">
                        <div class="item-folio__thumb">
                            <a href="/Project/{{ p.slug }}" class="thumb-link" title="{{ p.titre }}" >
                                <img src="/media/{{ p.image }}" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>
                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                {{ p.titre }}
                            </h3>
                            <p class="item-folio__cat">
                                {{ p.genre }}
                            </p>
                        </div>
                        <div class="item-folio__caption">
                            <p>{{ p.description }}</p>
                        </div>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->
                {% endfor %}
            </div>
        </div> <!-- end masonry -->

    </section> <!-- end works -->


    <!-- blog
    ================================================== -->
{#    <section id="blog" class="s-blog target-section">#}
{##}
{#        <div class="row narrow section-intro has-bottom-sep">#}
{#            <div class="col-full">#}
{#                <h3>Journal</h3>#}
{#                <h1>Latest From The Blog.</h1>#}
{#                <p class="lead"></p>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="row blog-content">#}
{#            <div class="col-full">#}
{##}
{#                <div class="blog-list block-1-2 block-tab-full">#}
{#                    {% for a in articles %}#}
{#                    <article class="col-block">#}
{#                                #}
{#                        <div class="blog-date">#}
{#                            <a href="/Article/{{ a.slug }}">{{ a.datePublication }}</a>#}
{#                        </div>  #}
{#                        #}
{#                        <h2 class="h01"><a href="/Article/{{ a.slug }}">{{ a.titre }}</a></h2>#}
{#                        <p>#}
{#                        {{ a.contenu }}#}
{#                        </p>#}
{##}
{#                        <div class="blog-cat">#}
{#                                <a href="{{ a.source }}">Source</a>#}
{#                        </div>#}
{##}
{#                        #}
{#                    </article>#}
{#                    {% endfor %}#}
{##}
{#                </div> <!-- end blog-list -->#}
{##}
{#            </div> <!-- end col-full -->#}
{#        </div> <!-- end blog-content -->#}
{##}
{#    </section> <!-- end s-blog -->#}
{##}




    <!-- s-stats
    ================================================== -->
    <!-- not configured yet.
    <section id="stats" class="s-stats">
        <div class="row block-1-4 block-tab-1-2 block-mob-full stats">

            <div class="col-block stats__col ">
                <div class="stats__count">
                    128
                </div>
                <h4>Awards Received</h4>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">
                    1500
                </div>
                <h4>Cups of Coffee</h4>
            </div>
            <div class="col-block stats__col stats__col--highlight">
                <div class="stats__upsign">
                    <a href="#"><i class="im im-arrow-up" aria-hidden="true"></i></a>
                </div>
                <div class="stats__count">
                    110
                </div>
                <h4>Projects Completed</h4>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">
                    101
                </div>
                <h4>Happy Clients</h4> 
            </div>

        </div>
    </section> <!-- end s-stats -->



    <!-- s-stats
    ================================================== -->
    <section id="contact" class="s-contact target-section">

        <div class="overlay"></div>

        <div class="row narrow section-intro">
            <div class="col-full">
                <h3>Contact</h3>
                <h1>Say Hello.</h1>
                
                <p class="lead"></p>
            </div>
        </div>
        <div class="row contact__main">



            <div class="col-eight tab-full contact__form">

                <form method="post">
                  {% csrf_token %}
                 {{ form.as_table}}
                <div class="form-actions">
                    <button type="submit">send</button>
                </div>
                </form>
            </div>


            <div class="col-four tab-full contact__infos">
                <h4 class="h06">Phone</h4>
                <p> (+216) 53 970 229<br>

                </p>

                <h4 class="h06">Email</h4>
                <p>oussama-ah@hotmail.fr
                </p>

                <h4 class="h06">Address</h4>
                <p>
                Frina, 5000 Monastir<br>
                House number 31.
            </div>

        </div>

    </section> <!-- end s-contact -->


    <!-- footer
    ================================================== -->
    <footer>
        <div class="row">
            <div class="col-full">

                <div class="footer-logo">
                    <a class="footer-site-logo" href="#"><img width="500%" height="300%" src="{% static 'blog/myLogo.png' %}" alt="">Oussama<br>AHMED<br>.info</a>
                </div>

                <ul class="footer-social">
                    <li><a href="facebook.com/oussaamaa">
                        <i class="im im-facebook" aria-hidden="true"></i>
                        <span>Facebook</span>
                    </a></li>
                    <li><a href="#0">
                        <i class="im im-linkedin" aria-hidden="true"></i>
                        <span>LinkedIn</span>
                    </a></li>
                    <li><a href="#0">
                        <i class="im im-github" aria-hidden="true"></i>
                        <span>Github</span>
                    </a></li>
                </ul>
                    
            </div>
        </div>

        <div class="row footer-bottom">

            <div class="col-twelve">
                <div class="copyright">
                    <span>© Copyright Oussama AHMED 2018.</span>

                </div>

                <div class="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"><i class="im im-arrow-up" aria-hidden="true"></i></a>
                </div>
            </div>

        </div> <!-- end footer-bottom -->

    </footer> <!-- end footer -->


    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div><!-- end photoSwipe background -->

    <div id="preloader">
        <div id="loader"></div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="{% static 'blog/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'blog/js/plugins.js' %}"></script>
    <script src="{% static 'blog/js/main.js' %}"></script>

</body>

</html>